body{
background-color: darkred 
}
.cabeçalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    }
    .cabeçalho > img{
        height: 60px;
    }
    .menu{
        display: flex;
    }
    .menu > li{
        height: 20px;
        display: flex;
        align-items: center;
    }
    .menu > li:hover{
        background-color: rgb(255, 0, 0);
    }
    .menu > li > a{
        color: white;
        text-decoration: none;
        text-shadow: 2px 2px black ;
        padding-left: 10px ;
        padding-right: 10px ;
        font-weight: 600;
    }
    .imagem{
        display: flex;
        overflow: scroll;
        box-shadow: 5px 5px 5px red;

    }
    .imagem::-webkit-scrollbar{
        display: none; 
    }
    h1{
        text-align: center;
        text-shadow: 2px 2px 2px black;
        color: white;
    }
    .cinderela:hover{
        content: url(https://i.pinimg.com/originals/27/98/c6/2798c6fee1e065e810a576234b545580.gif);
    }
    .bear:hover{
        content: url(https://media2.giphy.com/media/Izy9JPexCeOERHJ3As/giphy.gif);
    }
    .you:hover{
        content: url(https://media.tenor.com/QPlDz9V-4W0AAAAC/you-show-joe-goldberg.gif);
    }
    .pachinko:hover{
content: url(https://media2.giphy.com/media/fRFGgIJ1BZVY2hDwfJ/giphy.gif)
    }
    .megan:hover{
        content: url(https://media2.giphy.com/media/NJD2gs0QZkt6ntA275/200w.gif?cid=6c09b952sx2fqbgy1a3msqw2e529f5p89apv7hfjv3dphqgw&rid=200w.gif&ct=g)
            }
            .orphan:hover{
                content: url(https://i.pinimg.com/originals/cb/97/3b/cb973b7c7d75041b6ee8bda51ba540c6.gif)
            }
    .it:hover{
        content:url(https://i.gifer.com/origin/82/82cb4dffc43ad427edbe104baada5a86.gif)
    }        