body{
    background-image: url(../img2/p.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cabeçalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    }
    .cabeçalho > img{
        height: 60px;
    }
    .menu{
        display: flex;
    }
    .menu > li{
        height: 20px;
        display: flex;
        align-items: center;
    }
    .menu > li:hover{
        background-color: orange;
    }
    .menu > li > a{
        color: white;
        text-decoration: none;
        text-shadow: 2px 2px black ;
        padding-left: 10px ;
        padding-right: 10px ;
        font-weight: 600;
    }
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
h2{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px orange; 
    text-align: center;
}
.escrita{
    text-align: center;
}
.botão-1{
    padding: 2px 2px ;
    background-color: orange;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black
}
.botão{
    text-align: center;
    margin: 20px;
}